<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Update Etudiant</h4>
                <p class="card-category">Update etudiant {{ selectedEtudiant.id }}</p>
            </div>
            <div class="card-body">
                <form [formGroup]="reactiveForm" (ngSubmit)="updateEtudiant()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Nom" formControlName="nom">
                                <small style="color: red;"
                                *ngIf="reactiveForm.get('nom')?.errors?.['required'] &&
                                reactiveForm.get('nom')?.touched">
                                Nom is required
                              </small>
                              <small style="color: red;"
                                *ngIf="reactiveForm.get('nom')?.errors?.['minlength'] &&
                                reactiveForm.get('nom')?.touched">
                                Nom at least 3 caracters
                              </small>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Prenom" formControlName="prenom">
                                <small style="color: red;"
                                *ngIf="reactiveForm.get('prenom')?.errors?.['required'] &&
                                reactiveForm.get('prenom')?.touched">
                                Prenom is required
                              </small>
                              <small style="color: red;"
                                *ngIf="reactiveForm.get('prenom')?.errors?.['minlength'] &&
                                reactiveForm.get('prenom')?.touched">
                                Prenom at least 3 caracters
                              </small>
                                </div>


                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                              <input class="form-control" placeholder="Email" formControlName="email">
                              <small style="color: red;"
                              *ngIf="reactiveForm.get('email')?.errors?.['required'] &&
                              reactiveForm.get('email')?.touched">
                              Email is required
                            </small>
                            <small style="color: red;"
                              *ngIf="reactiveForm.get('email')?.errors?.['pattern'] &&
                              reactiveForm.get('email')?.touched">
                              Email must be valid
                            </small>
                              </div>


                      </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label >Option</label>
                                <select class="form-control" formControlName="option">
                                <option value="">Select option</option>
                                  <option value="GAMIX">GAMIX</option>
                                  <option value="SE">SE</option>
                                  <option value="SIM">SIM</option>
                                  <option value="NIDS">NIDS</option>
                                </select>
                                <small style="color: red;"
                                *ngIf="reactiveForm.get('option')?.errors?.['required'] &&
                                reactiveForm.get('option')?.touched">
                                Option is required
                              </small>
                              </div>
                           
                        </div>
                    </div>
                   
                 
                    <small style="color: red;"
                    *ngIf="!reactiveForm.valid && reactiveForm.get('option')?.touched && reactiveForm.get('nom')?.touched && reactiveForm.get('prenom')?.touched">
                    Verify inputs.
                  </small>
                    <button  type="submit" class="btn btn-danger pull-right">Update Etudiant</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
   
</div>