
<div class="main-content">
    <div class="container-fluid">
        <app-create-etudiant [listEtudiants]="listEtudiants" *ngIf="createMode"></app-create-etudiant>
        <app-update-etudiant (requested)=etudiantUpdated($event) [createMode]="createMode" [updateMode]="updateMode" [listEtudiants]="listEtudiants" [selectedEtudiant]="selectedEtudiant" *ngIf="updateMode"></app-update-etudiant>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">List Etudiants</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        Option
                                    </th>
                                    <th> 
                                        Edit/Delete
                                    </th>
                                </thead>
                                <tbody  *ngFor="let etudiant of listEtudiants">
                              
                                    <tr>
                                        <td>
                                            {{ etudiant.id }}
                                        </td>
                                        <td>
                                            {{ etudiant.nom }}
                                        </td>
                                        <td>
                                            {{ etudiant.prenom }}
                                        </td>
                                        <td>
                                            {{ etudiant.option }}
                                        </td>   
                                        <td>
                                            <button (click)="updateModeActive(etudiant)" class="btn btn-sm btn-info pull-left">Edit <i class="material-icons ">edit</i></button>
                                            <button (click)="removeEtudiant(etudiant)" class="btn btn-sm btn-danger ">Del <i class="material-icons ">delete</i></button>
                                        </td>
                                       
                                    </tr>
                                  
                                
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <button class="btn btn-primary" (click)="goToAdmin()"> return to Dashboard </button>
            </div>