<!-- form-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Ajouter Equipe</h4>
                        <p class="card-category">Veuillez saisir les informations de l'équipe</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerform" (ngSubmit)="register()">
                            <div class="row">
                                <div class="col-md-7">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nom" formControlName="nom" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Niveau</mat-label>
                                        <select matNativeControl required>
                                            <option value="EXPERT">EXPERT</option>
                                            <option value="SENIOR">SENIOR</option>
                                            <option value="JUNIOR">JUNIOR</option>
                                        </select>                                   
                                     </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Thematique" type="text" formControlName="thematique" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Salle" type="number" formControlName="salle"  required>
                                    </mat-form-field>
                                </div>
                                
                           </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>
<!--end form-->  
<!--table-->


<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Equipes</h4>
                        <p class="card-category"> Informations des equipes </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Niveau
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                  
                                </thead>
                                <tbody>
                                    <tr *ngFor="let e of listEquipes">
                                        <td>
                                            {{e.idEquipe}}
                                        </td>
                                        <td>
                                            {{e.nomEquipe}}
                                        </td>
                                        <td>
                                            {{e.niveau}}
                                        </td>
                                        <td>
                                            <div class="example-button-row">
                                                <div class="example-flex-container">
                                                  <div class="example-button-container">
                                                    <button mat-fab color="red" (click)="deleteEquipe(e.idEquipe)">
                                                      <mat-icon>delete</mat-icon>
                                                    </button>
                                                    <button mat-fab color="green" >
                                                        <mat-icon>create</mat-icon>
                                                      </button>
                                                      <button mat-fab color="primary" >
                                                        <mat-icon>visibility</mat-icon>
                                                      </button>
                                                  </div>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
  </div>
  <!--end table-->
