<!--<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Créer Contrat</h4>
                <p class="card-category">Nouveau Contrat</p>
            </div>
            <div class="card-body">
                <form [formGroup]="reactiveForm" (ngSubmit)="addContrat()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Archive" formControlName="archive">
                                <small style="color: red;" *ngIf="reactiveForm.get('archive')?.errors?.['required'] &&
                                reactiveForm.get('archive')?.touched">
                                    Vous devez spécifier si le contrat est archivé ou non 
                                </small>
                                <!-- <small style="color: red;"
                                *ngIf="reactiveForm.get('Archive')?.errors?.['minlength'] &&
                                reactiveForm.get('nom')?.touched">
                                Prenom at least 3 caracters
                              </small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Prenom" formControlName="montant">
                                <small style="color: red;" *ngIf="reactiveForm.get('montant')?.errors?.['required'] &&
                                reactiveForm.get('montant')?.touched">
                                    Vous devez saisir un Montant
                                </small>
                               
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Prenom" formControlName="dateDebutContrat">
                                    <small style="color: red;" *ngIf="reactiveForm.get('dateDebutContrat')?.errors?.['required'] &&
                                    reactiveForm.get('dateDebutContrat')?.touched">
                                        Vous devez chosir une date de debut
                                    </small>
                                   
                                </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" placeholder="Prenom" formControlName="dateFinContrat">
                                <small style="color: red;" *ngIf="reactiveForm.get('dateFinContrat')?.errors?.['required'] &&
                                reactiveForm.get('dateFinContrat')?.touched">
                                Vous devez chosir une date de fin
                                </small>
                               
                            </div>

                    </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Specialite</label>
                                <select class="form-control" formControlName="specialite">
                                    <option value="">Choisir specialite</option>
                                    <option value="IA">IA</option>
                                    <option value="RESEAUX">RESEAUX</option>
                                    <option value="CLOUD">CLOUD</option>
                                    <option value="SECURITE">SECURITE</option>
                                </select>
                                <small style="color: red;" *ngIf="reactiveForm.get('option')?.errors?.['required'] &&
                                reactiveForm.get('specialite')?.touched">
                                    Vous devez définir une spécialité
                                </small>
                            </div>

                        </div>
                    </div>


                    <small style="color: red;" *ngIf="!reactiveForm.valid">
                        vérifier vos données
                    </small>
                    <button type="submit" class="btn btn-danger pull-right">Modifier Contrat</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

</div> -->